#cloud-config
users:
  - default
  - name: ${user}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ssh_key}
    lock_passwd: false
    passwd: ${pass_hash}
write_files:
  - path: /etc/ssh/sshd_config.d/30-terraform.conf
    content: |
      Port ${ssh_port}